In [1]:
import pandas as pd
import numpy as np
import math
import plotly.express as px

In [2]:
df_acc_1 = pd.read_csv('../dataset/accdata/accident2020.csv').drop(["ปีที่เกิดเหตุ","ACC_CODE","จำนวนรถที่เกิดเหตุ (รวมคันที่ 1)","จำนวนผู้เสียชีวิต","รวมจำนวนผู้บาดเจ็บ","สภาพอากาศ","บริเวณที่เกิดเหตุ/ลักษณะทาง"],axis =1 )
df_acc_1["latx"] = df_acc_1["LATITUDE"].round(3)
df_acc_1["lonx"] = df_acc_1["LONGITUDE"].round(3)
df_acc_1["coor"] = df_acc_1.apply(lambda row: f"{row['latx']:.3f}, {row['lonx']:.3f}", axis='columns' )
df_acc_1

,วันที่เกิดเหตุ,เวลา,วันที่รายงาน,เวลาที่รายงาน,หน่วยงาน,สายทาง,ก.ม.,จังหวัด,รถคันที่ 1,มูลเหตุสันนิษฐาน,ลักษณะการเกิดอุบัติเหตุ,LATITUDE,LONGITUDE,latx,lonx,coor
0,1/1/2020,0:05,1/1/2020,8:07,กรมทางหลวง,สวนปาล์ม -คลองชี,6.600,กระบี่,คนเดินเท้า,ขับรถเร็วเกินอัตรากำหนด,ชนคนเดินเท้า,8.008887,99.390674,8.009,99.391,"8.009, 99.391"
1,1/1/2020,0:05,2/1/2020,0:36,กรมทางหลวง,หนองจิกรี - ถนนสุด,37.000,นครสวรรค์,รถจักรยานยนต์,แซงรถอย่างผิดกฎหมาย,ชนท้าย,15.650940,99.478422,15.651,99.478,"15.651, 99.478"
2,1/1/2020,0:15,2/1/2020,6:06,กรมทางหลวงชนบท,ถนนผังเมืองรวมเมืองหนองบัวลำภู สาย ข,7.275,หนองบัวลำภู,รถจักรยานยนต์,ขับรถย้อนศร,ชนเป็นมุมบริเวณทางแยก,17.191475,102.454305,17.191,102.454,"17.191, 102.454"
3,1/1/2020,0:15,20/1/2021,7:46,กรมทางหลวง,แยกพงษ์เพชร - สะพานพระนั่งเกล้า,7.995,นนทบุรี,รถจักรยานยนต์,ขับรถเร็วเกินอัตรากำหนด,พลิกคว่ำ/ตกถนนในทางโค้ง,13.861192,100.506757,13.861,100.507,"13.861, 100.507"
4,1/1/2020,0:20,3/2/2020,13:23,กรมทางหลวง,นางั่ว - ทุ่งสมอ,29.300,เพชรบูรณ์,รถจักรยานยนต์,เมาสุรา,พลิกคว่ำ/ตกถนนในทางโค้ง,16.609966,100.997331,16.610,100.997,"16.610, 100.997"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21047,31/12/2020,23:30,6/1/2021,10:21,กรมทางหลวง,นาหม่อม - จะนะ,25.400,สงขลา,รถยนต์นั่งส่วนบุคคล/รถยนต์นั่งสาธารณะ,ขับรถเร็วเกินอัตรากำหนด,พลิกคว่ำ/ตกถนนในทางตรง,6.975497,100.683499,6.975,100.683,"6.975, 100.683"
21048,31/12/2020,23:30,9/2/2021,10:16,กรมทางหลวง,ตาก - หนองเสือ,111.780,ตาก,รถปิคอัพบรรทุก 4 ล้อ,ขับรถเร็วเกินอัตรากำหนด,พลิกคว่ำ/ตกถนนในทางโค้ง,16.921467,99.293404,16.921,99.293,"16.921, 99.293"
21049,31/12/2020,23:35,1/1/2021,6:21,กรมทางหลวง,ตาลเดี่ยว - ซับบอน,21.825,สระบุรี,รถโดยสารขนาดใหญ่,คน/รถ/สัตว์ตัดหน้ากระชั้นชิด,ชนคนเดินเท้า,14.620238,101.088225,14.620,101.088,"14.620, 101.088"
21050,31/12/2020,23:50,1/1/2021,6:43,กรมทางหลวง,ห้วยยาง - บางสะพาน,378.300,ประจวบคีรีขันธ์,รถปิคอัพบรรทุก 4 ล้อ,ขับรถเร็วเกินอัตรากำหนด,พลิกคว่ำ/ตกถนนในทางตรง,11.306529,99.461932,11.307,99.462,"11.307, 99.462"
21051,31/12/2020,23:59,3/1/2021,9:40,กรมทางหลวง,สิชล - ท่าแพ,252.085,นครศรีธรรมราช,รถจักรยานยนต์,ขับรถเร็วเกินอัตรากำหนด,ชนท้าย,8.795792,99.913208,8.796,99.913,"8.796, 99.913"

In [3]:
df_acc_2 = pd.read_csv('../dataset/accdata/event2020.csv').drop(["title_en","description_en","contributor","type"],axis =1 )
df_acc_2["latx"] = df_acc_2["latitude"].round(3)
df_acc_2["lonx"] = df_acc_2["longitude"].round(3)
df_acc_2["coor"] = df_acc_2.apply(lambda row: f"{row['latx']:.3f}, {row['lonx']:.3f}", axis='columns' )
df_acc_2

,﻿eid,title,description,latitude,longitude,start,stop,latx,lonx,coor
0,645523,รถติด สะพานพระราม 3 ขาเข้า,บนสะพานพระรามสาม ขาเข้า รถจอดรอดูพลุ 2 เลนซ้าย...,13.701280,100.492812,2020-01-01 00:08:39,2020-01-01 01:08:39,13.701,100.493,"13.701, 100.493"
1,645524,เพลิงไหม้หญ้า เจริญนคร 7,00:12 เพลิงไหม้หญ้า ภายในซอยเจริญนคร 7 แขวงคลอ...,13.724996,100.509623,2020-01-01 00:14:00,2020-01-01 01:14:00,13.725,100.510,"13.725, 100.510"
2,645525,เพลิงไหม้ ประชาสงเคราะห์ 38,00:21 ไฟฟ้าลัดวงจรที่คอมเพลสเซอร์แอร์ ซอยประชา...,13.778785,100.570737,2020-01-01 00:24:23,2020-01-01 01:24:23,13.779,100.571,"13.779, 100.571"
3,645526,อุบัติเหตุ ปากซอยเทียนทะเล 8,02:20 ถนนเทียนทะเล ที่ปากซอยเทียนทะเล 8 รถแท็ก...,13.652689,100.430497,2020-01-01 02:36:02,2020-01-01 03:36:02,13.653,100.430,"13.653, 100.430"
4,645527,เพลิงไหม้หญ้า ร่มเกล้า 21 (ซอยเพิ่มพูนทรัพย),01:06 เพลิงไหม้หญ้า ภายในซอยร่มเกล้า21 ถนนร่มเ...,13.762362,100.752175,2020-01-01 02:40:08,2020-01-01 03:40:08,13.762,100.752,"13.762, 100.752"
...,...,...,...,...,...,...,...,...,...,...
49774,698786,อุบัติเหตุ หน้า สวนทิพย์ สุขาประชาสรรค์ 2,อุบัติเหตุ หน้า สวนทิพย์ สุขาประชาสรรค์ 2\r\nจ...,13.925843,100.505436,2020-12-31 22:12:04,2020-12-31 23:12:04,13.926,100.505,"13.926, 100.505"
49775,698787,อุบัติเหตุ อบต.บางพลับ ถนนชัยพฤกษ์,อุบัติเหตุ อบต.บางพลับ ถนนชัยพฤกษ์\r\nอาสากำลั...,13.924736,100.468058,2020-12-31 22:23:19,2020-12-31 23:23:19,13.925,100.468,"13.925, 100.468"
49776,698788,คิบหน้าอุบัติเหตุ ถนนติวานนท์ ขาออก,คิบหน้าอุบัติเหตุ ถนนติวานนท์ ขาออก เลยห้าแยกป...,13.908487,100.504739,2020-12-31 22:32:34,2020-12-31 23:32:34,13.908,100.505,"13.908, 100.505"
49777,698789,อุบัติเหตุ ถนนพญาไท ขาเข้า,ถนนพญาไท ขาเข้า ตรงข้ามสำนักงานเขตราชเทวี มีอุ...,13.758807,100.534965,2020-12-31 22:34:16,2020-12-31 23:34:16,13.759,100.535,"13.759, 100.535"
49778,698790,อุบัติเหตุ สุขาประชาสรรค์ 2 หมู่บ้านนิดา,อุบัติเหตุ สุขาประชาสรรค์ 2 หมู่บ้านนิดา\r\nจย...,13.917907,100.500292,2020-12-31 22:59:16,2020-12-31 23:59:16,13.918,100.500,"13.918, 100.500"

In [4]:
df_route = pd.read_csv("../dataset/latlon_km127.csv")
df_route["latx"] = df_route["lat"].round(3)
df_route["lonx"] = df_route["lon"].round(3)
df_route["coor"] = df_route.apply(lambda row: f"{row['latx']:.3f}, {row['lonx']:.3f}", axis='columns' )
df_route

      rd       km        lat         lon    latx     lonx             coor
0      1      815  18.976891   99.911708  18.977   99.912   18.977, 99.912
1      1      816  18.983738   99.906080  18.984   99.906   18.984, 99.906
2      1      817  18.992156   99.903222  18.992   99.903   18.992, 99.903
3      1      818  19.000103   99.899271  19.000   99.899   19.000, 99.899
4      1      819  19.006324   99.901429  19.006   99.901   19.006, 99.901
...   ..      ...        ...         ...     ...      ...              ...
2096   7    99996  13.752260  100.591030  13.752  100.591  13.752, 100.591
2097   7    99997  13.755100  100.582320  13.755  100.582  13.755, 100.582
2098   7    99998  13.755510  100.573050  13.756  100.573  13.756, 100.573
2099   7    99999  13.756100  100.563820  13.756  100.564  13.756, 100.564
2100   7  1000000  13.759720  100.556230  13.760  100.556  13.760, 100.556

[2101 rows x 7 columns]

In [5]:
df_route_1 = df_route[df_route["rd"]==1]
df_route_2 = df_route[df_route["rd"]==2]
df_route_7 = df_route[df_route["rd"]==7]

In [6]:
df_route_1 = df_route_1.sort_values("km")
df_route_1 = df_route_1.reset_index(drop=True)
df_route_1

      rd   km        lat         lon    latx     lonx             coor
0      1   19  13.879176  100.598832  13.879  100.599  13.879, 100.599
1      1   25  13.926152  100.626455  13.926  100.626  13.926, 100.626
2      1   26  13.935066  100.625095  13.935  100.625  13.935, 100.625
3      1   27  13.943972  100.623483  13.944  100.623  13.944, 100.623
4      1   28  13.952894  100.621930  13.953  100.622  13.953, 100.622
...   ..  ...        ...         ...     ...      ...              ...
1094   1  990  20.402477   99.884987  20.402   99.885   20.402, 99.885
1095   1  991  20.411322   99.885934  20.411   99.886   20.411, 99.886
1096   1  992  20.419902   99.883795  20.420   99.884   20.420, 99.884
1097   1  993  20.428256   99.884444  20.428   99.884   20.428, 99.884
1098   1  994  20.436869   99.883649  20.437   99.884   20.437, 99.884

[1099 rows x 7 columns]

In [7]:
df_route_2 = df_route_2.sort_values("km")
df_route_2 = df_route_2.reset_index(drop=True)
df_route_2

     rd   km        lat         lon    latx     lonx             coor
0     2    0  14.520047  100.914597  14.520  100.915  14.520, 100.915
1     2    0  14.520047  100.914597  14.520  100.915  14.520, 100.915
2     2    1  14.520639  100.923994  14.521  100.924  14.521, 100.924
3     2    2  14.523763  100.932478  14.524  100.932  14.524, 100.932
4     2    3  14.530221  100.939307  14.530  100.939  14.530, 100.939
..   ..  ...        ...         ...     ...      ...              ...
602   2  505  17.837957  102.737950  17.838  102.738  17.838, 102.738
603   2  506  17.846316  102.734449  17.846  102.734  17.846, 102.734
604   2  507  17.854559  102.730666  17.855  102.731  17.855, 102.731
605   2  508  17.862408  102.726183  17.862  102.726  17.862, 102.726
606   2  509  17.868164  102.719234  17.868  102.719  17.868, 102.719

[607 rows x 7 columns]

In [8]:
df_route_7 = df_route_7.sort_values("km")
df_route_7 = df_route_7.reset_index(drop=True)
df_route_7

     rd       km        lat         lon    latx     lonx             coor
0     7        0  13.599286  100.953945  13.599  100.954  13.599, 100.954
1     7        0  13.741457  100.641698  13.741  100.642  13.741, 100.642
2     7        0  13.730594  100.760581  13.731  100.761  13.731, 100.761
3     7        0  13.730594  100.760581  13.731  100.761  13.731, 100.761
4     7        0  13.298182  100.994620  13.298  100.995  13.298, 100.995
..   ..      ...        ...         ...     ...      ...              ...
390   7    99996  13.752260  100.591030  13.752  100.591  13.752, 100.591
391   7    99997  13.755100  100.582320  13.755  100.582  13.755, 100.582
392   7    99998  13.755510  100.573050  13.756  100.573  13.756, 100.573
393   7    99999  13.756100  100.563820  13.756  100.564  13.756, 100.564
394   7  1000000  13.759720  100.556230  13.760  100.556  13.760, 100.556

[395 rows x 7 columns]

In [9]:
list_route_1 = df_route_1["coor"].to_list()
list_route_2 = df_route_2["coor"].to_list()
list_route_7 = df_route_7["coor"].to_list()

In [10]:
df_acc_1["road_number"] = df_acc_1["coor"].apply(lambda x: 1 if x in list_route_1 else(
    2 if x in list_route_2 else (7 if x in list_route_7 else 0)))
df_acc_1 = df_acc_1[df_acc_1["road_number"] != 0]
df_acc_1

,วันที่เกิดเหตุ,เวลา,วันที่รายงาน,เวลาที่รายงาน,หน่วยงาน,สายทาง,ก.ม.,จังหวัด,รถคันที่ 1,มูลเหตุสันนิษฐาน,ลักษณะการเกิดอุบัติเหตุ,LATITUDE,LONGITUDE,latx,lonx,coor,road_number
62,1/1/2020,5:50,2/1/2020,5:32,กรมทางหลวง,วังไผ่ -โนนปอแดง,385.030,นครสวรรค์,รถปิคอัพบรรทุก 4 ล้อ,ไม่ให้สัญญาณชะลอ/เลี้ยว,ชนท้าย,15.965022,99.838512,15.965,99.839,"15.965, 99.839",1
366,2/1/2020,12:30,12/1/2021,9:39,กรมทางหลวง,ทางต่างระดับคีรี - พัทยา,103.150,ชลบุรี,อื่นๆ,ขับรถเร็วเกินอัตรากำหนด,พลิกคว่ำ/ตกถนนในทางตรง,13.086010,100.992014,13.086,100.992,"13.086, 100.992",7
569,5/1/2020,5:20,7/4/2020,13:42,กรมทางหลวง,พาน - ร่องขุ่น,912.377,เชียงราย,รถจักรยานยนต์,หลับใน,พลิกคว่ำ/ตกถนนในทางตรง,19.775018,99.739763,19.775,99.740,"19.775, 99.740",1
843,10/1/2020,18:37,30/3/2021,14:26,กรมทางหลวง,หนองข้างคอก - ตะเคียนเตี้ย,93.600,ชลบุรี,รถยนต์นั่งส่วนบุคคล/รถยนต์นั่งสาธารณะ,ขับรถเร็วเกินอัตรากำหนด,พลิกคว่ำ/ตกถนนในทางตรง,13.175105,100.993530,13.175,100.994,"13.175, 100.994",7
1017,14/1/2020,4:00,5/3/2020,13:31,กรมทางหลวง,โนนปอแดง - ปากดง,420.000,กำแพงเพชร,รถบรรทุก 6 ล้อ,หลับใน,พลิกคว่ำ/ตกถนนในทางตรง,16.232641,99.696207,16.233,99.696,"16.233, 99.696",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20507,30/12/2020,10:38,15/2/2021,11:09,กรมทางหลวง,พิมพา - หนองข้างคอก,63.600,ชลบุรี,รถปิคอัพบรรทุก 4 ล้อ,ขับรถเร็วเกินอัตรากำหนด,ชนท้าย,13.427775,101.046538,13.428,101.047,"13.428, 101.047",7
20530,30/12/2020,12:30,22/3/2021,9:55,กรมทางหลวง,โนนสะอาด - อุดรธานี,407.975,อุดรธานี,รถปิคอัพบรรทุก 4 ล้อ,ขับรถเร็วเกินอัตรากำหนด,ชนท้าย,17.034185,102.909078,17.034,102.909,"17.034, 102.909",2
20806,31/12/2020,6:20,6/1/2021,11:28,กรมทางหลวง,แม่คำ - กลางสะพานแม่น้ำสาย(เขตแดนไทย/พม่า),974.000,เชียงราย,รถจักรยานยนต์,ขับรถเร็วเกินอัตรากำหนด,พลิกคว่ำ/ตกถนนในทางตรง,20.265420,99.858306,20.265,99.858,"20.265, 99.858",1
20851,31/12/2020,11:07,15/2/2021,11:57,กรมทางหลวง,หนองข้างคอก - ตะเคียนเตี้ย,83.600,ชลบุรี,รถยนต์นั่งส่วนบุคคล/รถยนต์นั่งสาธารณะ,ขับรถเร็วเกินอัตรากำหนด,พลิกคว่ำ/ตกถนนในทางตรง,13.261378,100.989732,13.261,100.990,"13.261, 100.990",7
20860,31/12/2020,11:30,6/1/2021,16:17,กรมทางหลวง,ตาลาด - หนองแวงโสกพระ,228.010,นครราชสีมา,รถจักรยานยนต์,ขับรถเร็วเกินอัตรากำหนด,พลิกคว่ำ/ตกถนนในทางตรง,15.505994,102.532002,15.506,102.532,"15.506, 102.532",2

In [12]:
df_acc_2["road_number"] = df_acc_2["coor"].apply(lambda x: 1 if x in list_route_1 else(
    2 if x in list_route_2 else (7 if x in list_route_7 else 0)))
df_acc_2 = df_acc_2[df_acc_2["road_number"] != 0]
df_acc_2

,﻿eid,title,description,latitude,longitude,start,stop,latx,lonx,coor,road_number
47,645571,จราจรติดขัด ทางหลวงหมายเลข 2 กม. 100+962 - 10...,[กรมทางหลวง] มีจราจรติดขัดที่ บริเวณทางหลวงหม...,14.862150,101.696980,2020-01-01 00:00:00,2020-01-01 20:48:04,14.862,101.697,"14.862, 101.697",2
745,646271,อุบัติเหตุ ถนนมิตรภาพ,อุบัติเหตุ ถนนมิตรภาพ ขาเข้า กรุงเทพฯ ช่วงกม.8...,14.843301,101.557432,2020-01-03 13:03:55,2020-01-03 14:03:55,14.843,101.557,"14.843, 101.557",2
746,646273,อุบัติเหตุ มอเตอร์เวย์ (ทล.7) ขาออก กม.8+500,13.53 น. ก่อนหน้านี้ มอเตอร์เวย์ (ทล.7) ขาออก ...,13.730444,100.723756,2020-01-03 14:02:18,2020-01-03 15:02:18,13.730,100.724,"13.730, 100.724",7
1171,646710,อุบัติเหตุ เมืองสระบุรี สระบุรี,เกิดอุบัติเหตุ ข้อมูลจาก บริษัท กลางคุ้มครองผู...,14.530608,100.912187,2020-01-04 17:00:00,2020-01-04 18:00:00,14.531,100.912,"14.531, 100.912",1
1550,647097,อุบัติเหตุ ตลิ่งชัน เมืองสระบุรี สระบุรี,เกิดอุบัติเหตุ ข้อมูลจาก บริษัท กลางคุ้มครองผู...,14.541236,100.954366,2020-01-06 15:00:00,2020-01-06 16:00:00,14.541,100.954,"14.541, 100.954",2
...,...,...,...,...,...,...,...,...,...,...,...
49097,697927,อุบัติเหตุ ถนนมอเตอร์เวย์ ขาเข้า กม.28+500,20.27 น. ถนนมอเตอร์เวย์ (ทล.7) ขาเข้า กม.28+50...,13.665094,100.851204,2020-12-25 20:39:31,2020-12-25 21:39:31,13.665,100.851,"13.665, 100.851",7
49158,698006,คืบหน้าอุบัติเหตุ ถนนมิตรภาพ ขาเข้า กม.87,ตร.ทล.นครราชสีมา ดำเนินการเคลื่อนย้ายรถบรรทุกไ...,14.850747,101.573709,2020-12-26 12:28:12,2020-12-26 13:28:12,14.851,101.574,"14.851, 101.574",2
49271,698151,อุบัติเหตุ ถนนพหลโยธิน,12:22 อุบัติเหตุ ถนนพหลโยธิน ช่วง ต่างระดับรัง...,13.962263,100.620270,2020-12-27 12:22:55,2020-12-27 13:28:55,13.962,100.620,"13.962, 100.620",1
49396,698297,อุบัติเหตุ ถนนพหลโยธิน ขาเข้า,10.42น. อุบัติเหตุ รถเมล์ สาย 504 ชนกับรถนั่งส...,13.962152,100.620402,2020-12-28 10:52:25,2020-12-28 11:52:25,13.962,100.620,"13.962, 100.620",1
49514,698467,อุบัติเหตุ ปากซอยพหลโยธิน 56,ปากซอยพหลโยธิน 56 มีอุบัติเหตุรถชนกัน กีดขวางก...,13.934562,100.625311,2020-12-29 17:28:19,2020-12-29 18:28:19,13.935,100.625,"13.935, 100.625",1

In [13]:
def mergeKm(data):
    dataframe = df_route[df_route["rd"] == data["road_number"]]
    return dataframe[(dataframe["latx"]==data["latx"]) & (dataframe["lonx"]==data["lonx"])]["km"].values[0]

In [14]:
df_acc_2["km"] = df_acc_2[df_acc_2["road_number"].isin([1,2,7])].apply(mergeKm, axis=1)
df_acc_2

d:\DEVELOP\traffic-anomaly-detection\venv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,﻿eid,title,description,latitude,longitude,start,stop,latx,lonx,coor,road_number,km
47,645571,จราจรติดขัด ทางหลวงหมายเลข 2 กม. 100+962 - 10...,[กรมทางหลวง] มีจราจรติดขัดที่ บริเวณทางหลวงหม...,14.862150,101.696980,2020-01-01 00:00:00,2020-01-01 20:48:04,14.862,101.697,"14.862, 101.697",2,102
745,646271,อุบัติเหตุ ถนนมิตรภาพ,อุบัติเหตุ ถนนมิตรภาพ ขาเข้า กรุงเทพฯ ช่วงกม.8...,14.843301,101.557432,2020-01-03 13:03:55,2020-01-03 14:03:55,14.843,101.557,"14.843, 101.557",2,86
746,646273,อุบัติเหตุ มอเตอร์เวย์ (ทล.7) ขาออก กม.8+500,13.53 น. ก่อนหน้านี้ มอเตอร์เวย์ (ทล.7) ขาออก ...,13.730444,100.723756,2020-01-03 14:02:18,2020-01-03 15:02:18,13.730,100.724,"13.730, 100.724",7,9
1171,646710,อุบัติเหตุ เมืองสระบุรี สระบุรี,เกิดอุบัติเหตุ ข้อมูลจาก บริษัท กลางคุ้มครองผู...,14.530608,100.912187,2020-01-04 17:00:00,2020-01-04 18:00:00,14.531,100.912,"14.531, 100.912",1,108
1550,647097,อุบัติเหตุ ตลิ่งชัน เมืองสระบุรี สระบุรี,เกิดอุบัติเหตุ ข้อมูลจาก บริษัท กลางคุ้มครองผู...,14.541236,100.954366,2020-01-06 15:00:00,2020-01-06 16:00:00,14.541,100.954,"14.541, 100.954",2,5
...,...,...,...,...,...,...,...,...,...,...,...,...
49097,697927,อุบัติเหตุ ถนนมอเตอร์เวย์ ขาเข้า กม.28+500,20.27 น. ถนนมอเตอร์เวย์ (ทล.7) ขาเข้า กม.28+50...,13.665094,100.851204,2020-12-25 20:39:31,2020-12-25 21:39:31,13.665,100.851,"13.665, 100.851",7,27
49158,698006,คืบหน้าอุบัติเหตุ ถนนมิตรภาพ ขาเข้า กม.87,ตร.ทล.นครราชสีมา ดำเนินการเคลื่อนย้ายรถบรรทุกไ...,14.850747,101.573709,2020-12-26 12:28:12,2020-12-26 13:28:12,14.851,101.574,"14.851, 101.574",2,88
49271,698151,อุบัติเหตุ ถนนพหลโยธิน,12:22 อุบัติเหตุ ถนนพหลโยธิน ช่วง ต่างระดับรัง...,13.962263,100.620270,2020-12-27 12:22:55,2020-12-27 13:28:55,13.962,100.620,"13.962, 100.620",1,29
49396,698297,อุบัติเหตุ ถนนพหลโยธิน ขาเข้า,10.42น. อุบัติเหตุ รถเมล์ สาย 504 ชนกับรถนั่งส...,13.962152,100.620402,2020-12-28 10:52:25,2020-12-28 11:52:25,13.962,100.620,"13.962, 100.620",1,29
49514,698467,อุบัติเหตุ ปากซอยพหลโยธิน 56,ปากซอยพหลโยธิน 56 มีอุบัติเหตุรถชนกัน กีดขวางก...,13.934562,100.625311,2020-12-29 17:28:19,2020-12-29 18:28:19,13.935,100.625,"13.935, 100.625",1,26

In [15]:
df_acc_2[df_acc_2["km"].isna()]

Empty DataFrame
Columns: [﻿eid, title, description, latitude, longitude, start, stop, latx, lonx, coor, road_number, km]
Index: []

In [16]:
# # df_acc_1[df_acc_1["road_number"]==7].to_csv("../dataset/accdata/accident1_with_road_7.csv")
# df_acc_2[df_acc_2["road_number"]==1].to_csv("../dataset/accdata/accident2_with_road_1.csv")
# df_acc_2[df_acc_2["road_number"]==2].to_csv("../dataset/accdata/accident2_with_road_2.csv")
# df_acc_2[df_acc_2["road_number"]==7].to_csv("../dataset/accdata/accident2_with_road_7.csv")

In [ ]:
fig = px.scatter_mapbox(df_route_1, lat="lat", lon="lon")
fig.update_layout(mapbox_style="open-street-map") 
fig.show()

In [ ]:
fig_2 = px.scatter_mapbox(df_acc_1[df_acc_1["road_number"]==1], lat="LATITUDE", lon="LONGITUDE")
fig_2.update_layout(mapbox_style="open-street-map") 
fig_2.show()