In [ ]:
import pandas as pd
import numpy as np
import math
import plotly.express as px

In [ ]:
def round_decimals_down(number:float, decimals:int=3):
    """
    Returns a value rounded down to a specific number of decimal places.
    """
    if not isinstance(decimals, int):
        raise TypeError("decimal places must be an integer")
    elif decimals < 0:
        raise ValueError("decimal places has to be 0 or more")
    elif decimals == 0:
        return math.floor(number)

    factor = 10 ** decimals
    return math.floor(number * factor) / factor

In [ ]:
df_acc_2020 = pd.read_csv('../dataset/accdata/event2020.csv').drop(["title_en","description_en","contributor","type"],axis =1 )
df_acc_2020["latx"] = df_acc_2020["latitude"].round(3)
df_acc_2020["lonx"] = df_acc_2020["longitude"].round(3)
df_acc_2020["coor"] = df_acc_2020.apply(lambda row: f"{row['latx']}, {row['lonx']}", axis='columns' )
df_acc_2020

In [ ]:
df_route = pd.read_csv("../dataset/latlon_km127.csv")
df_route["latd"] = df_route["lat"].apply(round_decimals_down)
df_route["lond"] = df_route["lon"].apply(round_decimals_down)
df_route["latu"] = df_route["lat"].round(3)
df_route["lonu"] = df_route["lon"].round(3)
df_route["latx"] = df_route["lat"].round(3)
df_route["lonx"] = df_route["lon"].round(3)
df_route["coord"] = df_route.apply(lambda row: f"{row['latd']}, {row['lond']}", axis='columns' )
df_route["cooru"] = df_route.apply(lambda row: f"{row['latu']}, {row['lonu']}", axis='columns' )
df_route["coor"] = df_route.apply(lambda row: f"{row['latx']}, {row['lonx']}", axis='columns' )
df_route

In [ ]:
df_route_1 = df_route[df_route["rd"]==1]
df_route_2 = df_route[df_route["rd"]==2]
df_route_7 = df_route[df_route["rd"]==7]

In [ ]:
df_route_7[df_route_7["lond"]==100.573]

In [ ]:
df_route_1 = df_route_1.sort_values("km")
df_route_1 = df_route_1.reset_index(drop=True)
df_route_1

In [ ]:
df_route_2 = df_route_2.sort_values("km")
df_route_2 = df_route_2.reset_index(drop=True)
df_route_2

In [ ]:
df_route_7 = df_route_7.sort_values("km")
df_route_7 = df_route_7.reset_index(drop=True)
df_route_7

In [ ]:
list_route_1_d = df_route_1["coord"].to_list()
list_route_2_d = df_route_2["coord"].to_list()
list_route_7_d = df_route_7["coord"].to_list()
list_route_1_u = df_route_1["cooru"].to_list()
list_route_2_u = df_route_2["cooru"].to_list()
list_route_7_u = df_route_7["cooru"].to_list()
list_route_1 = df_route_1["coor"].to_list()
list_route_2 = df_route_2["coor"].to_list()
list_route_7 = df_route_7["coor"].to_list()

In [ ]:
# df_acc_2020["road_number"] = df_acc_2020["coor"].apply(lambda x: 1 if x in list_route_1_d else(
#     2 if x in list_route_2_d else (7 if x in list_route_7_d else 0)))
# df_acc_2020 = df_acc_2020[df_acc_2020["road_number"] != 0]
# df_acc_2020

In [ ]:
df_acc_2020["road_number"] = df_acc_2020["coor"].apply(lambda x: 1 if x in list_route_1_d or x in list_route_1_u else(
    2 if x in list_route_2_d or x in list_route_2_u else (7 if x in list_route_7_d or x in list_route_7_u else 0)))
df_acc_2020 = df_acc_2020[df_acc_2020["road_number"] != 0]
df_acc_2020

In [ ]:
# df_acc_2020["road_number"] = df_acc_2020["coor"].apply(lambda x: 1 if x in list_route_1_u else(
#     2 if x in list_route_2_u else (7 if x in list_route_7_u else 0)))
# df_acc_2020 = df_acc_2020[df_acc_2020["road_number"] != 0]
# df_acc_2020

In [ ]:
# df_acc_2020["road_number"] = df_acc_2020["coor"].apply(lambda x: 1 if x in list_route_1 else(
#     2 if x in list_route_2 else (7 if x in list_route_7 else 0)))
# df_acc_2020 = df_acc_2020[df_acc_2020["road_number"] != 0]
# df_acc_2020

In [ ]:
def mergeKm(data):
    dataframe = df_route[df_route["rd"] == data["road_number"]]
    return dataframe[(dataframe["latx"]==data["latx"]) & (dataframe["lonx"]==data["lonx"])]["km"].values[0]

In [ ]:
df_acc_2020.reset_index(drop=True, inplace=True)

In [ ]:
df_acc_2020["km"] = df_acc_2020[df_acc_2020["road_number"].isin([1,2,7])].apply(mergeKm, axis=1)
df_acc_2020

In [ ]:
# df_acc_2020[df_acc_2020["km"].isna()]

In [ ]:
# # # df_acc_1[df_acc_1["road_number"]==7].to_csv("../dataset/accdata/accident1_with_road_7.csv")
# df_acc_2020[df_acc_2020["road_number"]==1].to_csv("../dataset/accdata/accident2020_with_road_1.csv",index=False)
# df_acc_2020[df_acc_2020["road_number"]==2].to_csv("../dataset/accdata/accident2020_with_road_2.csv",index=False)
# df_acc_2020[df_acc_2020["road_number"]==7].to_csv("../dataset/accdata/accident2020_with_road_7.csv",index=False)
# df_acc_2020.to_csv("./accident2020_with_road_V2.csv", index=False)

In [ ]:
fig = px.scatter_mapbox(df_route_7, lat="lat", lon="lon", height=800)
fig.update_layout(mapbox_style="open-street-map")
fig.show()

In [ ]:
fig_2 = px.scatter_mapbox(
    df_acc_2020[df_acc_2020["road_number"] == 7], lat="latitude", lon="longitude", height=800)
fig_2.update_layout(mapbox_style="open-street-map")
fig_2.show()