In [1]:
import pandas as pd
import numpy as np
import math
import plotly.express as px

In [2]:
def round_decimals_down(number:float, decimals:int=3):
    """
    Returns a value rounded down to a specific number of decimal places.
    """
    if not isinstance(decimals, int):
        raise TypeError("decimal places must be an integer")
    elif decimals < 0:
        raise ValueError("decimal places has to be 0 or more")
    elif decimals == 0:
        return math.floor(number)

    factor = 10 ** decimals
    return math.floor(number * factor) / factor

In [3]:
df_acc_2020 = pd.read_csv('../dataset/accdata/event2020.csv').drop(["title_en","description_en","contributor","type"],axis =1 )
df_acc_2020["latx"] = df_acc_2020["latitude"].round(3)
df_acc_2020["lonx"] = df_acc_2020["longitude"].round(3)
df_acc_2020["coor"] = df_acc_2020.apply(lambda row: f"{row['latx']}, {row['lonx']}", axis='columns' )
df_acc_2020

,﻿eid,title,description,latitude,longitude,start,stop,latx,lonx,coor
0,645523,รถติด สะพานพระราม 3 ขาเข้า,บนสะพานพระรามสาม ขาเข้า รถจอดรอดูพลุ 2 เลนซ้าย...,13.701280,100.492812,2020-01-01 00:08:39,2020-01-01 01:08:39,13.701,100.493,"13.701, 100.493"
1,645524,เพลิงไหม้หญ้า เจริญนคร 7,00:12 เพลิงไหม้หญ้า ภายในซอยเจริญนคร 7 แขวงคลอ...,13.724996,100.509623,2020-01-01 00:14:00,2020-01-01 01:14:00,13.725,100.510,"13.725, 100.51"
2,645525,เพลิงไหม้ ประชาสงเคราะห์ 38,00:21 ไฟฟ้าลัดวงจรที่คอมเพลสเซอร์แอร์ ซอยประชา...,13.778785,100.570737,2020-01-01 00:24:23,2020-01-01 01:24:23,13.779,100.571,"13.779, 100.571"
3,645526,อุบัติเหตุ ปากซอยเทียนทะเล 8,02:20 ถนนเทียนทะเล ที่ปากซอยเทียนทะเล 8 รถแท็ก...,13.652689,100.430497,2020-01-01 02:36:02,2020-01-01 03:36:02,13.653,100.430,"13.653, 100.43"
4,645527,เพลิงไหม้หญ้า ร่มเกล้า 21 (ซอยเพิ่มพูนทรัพย),01:06 เพลิงไหม้หญ้า ภายในซอยร่มเกล้า21 ถนนร่มเ...,13.762362,100.752175,2020-01-01 02:40:08,2020-01-01 03:40:08,13.762,100.752,"13.762, 100.752"
...,...,...,...,...,...,...,...,...,...,...
49774,698786,อุบัติเหตุ หน้า สวนทิพย์ สุขาประชาสรรค์ 2,อุบัติเหตุ หน้า สวนทิพย์ สุขาประชาสรรค์ 2\r\nจ...,13.925843,100.505436,2020-12-31 22:12:04,2020-12-31 23:12:04,13.926,100.505,"13.926, 100.505"
49775,698787,อุบัติเหตุ อบต.บางพลับ ถนนชัยพฤกษ์,อุบัติเหตุ อบต.บางพลับ ถนนชัยพฤกษ์\r\nอาสากำลั...,13.924736,100.468058,2020-12-31 22:23:19,2020-12-31 23:23:19,13.925,100.468,"13.925, 100.468"
49776,698788,คิบหน้าอุบัติเหตุ ถนนติวานนท์ ขาออก,คิบหน้าอุบัติเหตุ ถนนติวานนท์ ขาออก เลยห้าแยกป...,13.908487,100.504739,2020-12-31 22:32:34,2020-12-31 23:32:34,13.908,100.505,"13.908, 100.505"
49777,698789,อุบัติเหตุ ถนนพญาไท ขาเข้า,ถนนพญาไท ขาเข้า ตรงข้ามสำนักงานเขตราชเทวี มีอุ...,13.758807,100.534965,2020-12-31 22:34:16,2020-12-31 23:34:16,13.759,100.535,"13.759, 100.535"
49778,698790,อุบัติเหตุ สุขาประชาสรรค์ 2 หมู่บ้านนิดา,อุบัติเหตุ สุขาประชาสรรค์ 2 หมู่บ้านนิดา\r\nจย...,13.917907,100.500292,2020-12-31 22:59:16,2020-12-31 23:59:16,13.918,100.500,"13.918, 100.5"

In [4]:
df_route = pd.read_csv("../dataset/latlon_km127.csv")
df_route["latd"] = df_route["lat"].apply(round_decimals_down)
df_route["lond"] = df_route["lon"].apply(round_decimals_down)
df_route["latu"] = df_route["lat"].round(3)
df_route["lonu"] = df_route["lon"].round(3)
df_route["coord"] = df_route.apply(lambda row: f"{row['latd']}, {row['lond']}", axis='columns' )
df_route["cooru"] = df_route.apply(lambda row: f"{row['latu']}, {row['lonu']}", axis='columns' )
df_route

,rd,km,lat,lon,latd,lond,latu,lonu,coord,cooru
0,1,815,18.976891,99.911708,18.976,99.911,18.977,99.912,"18.976, 99.911","18.977, 99.912"
1,1,816,18.983738,99.906080,18.983,99.906,18.984,99.906,"18.983, 99.906","18.984, 99.906"
2,1,817,18.992156,99.903222,18.992,99.903,18.992,99.903,"18.992, 99.903","18.992, 99.903"
3,1,818,19.000103,99.899271,19.000,99.899,19.000,99.899,"19.0, 99.899","19.0, 99.899"
4,1,819,19.006324,99.901429,19.006,99.901,19.006,99.901,"19.006, 99.901","19.006, 99.901"
...,...,...,...,...,...,...,...,...,...,...
2096,7,99996,13.752260,100.591030,13.752,100.591,13.752,100.591,"13.752, 100.591","13.752, 100.591"
2097,7,99997,13.755100,100.582320,13.755,100.582,13.755,100.582,"13.755, 100.582","13.755, 100.582"
2098,7,99998,13.755510,100.573050,13.755,100.573,13.756,100.573,"13.755, 100.573","13.756, 100.573"
2099,7,99999,13.756100,100.563820,13.756,100.563,13.756,100.564,"13.756, 100.563","13.756, 100.564"
2100,7,1000000,13.759720,100.556230,13.759,100.556,13.760,100.556,"13.759, 100.556","13.76, 100.556"

In [5]:
df_route_1 = df_route[df_route["rd"]==1]
df_route_2 = df_route[df_route["rd"]==2]
df_route_7 = df_route[df_route["rd"]==7]

In [6]:
df_route_1 = df_route_1.sort_values("km")
df_route_1 = df_route_1.reset_index(drop=True)
df_route_1

,rd,km,lat,lon,latd,lond,latu,lonu,coord,cooru
0,1,19,13.879176,100.598832,13.879,100.598,13.879,100.599,"13.879, 100.598","13.879, 100.599"
1,1,25,13.926152,100.626455,13.926,100.626,13.926,100.626,"13.926, 100.626","13.926, 100.626"
2,1,26,13.935066,100.625095,13.935,100.625,13.935,100.625,"13.935, 100.625","13.935, 100.625"
3,1,27,13.943972,100.623483,13.943,100.623,13.944,100.623,"13.943, 100.623","13.944, 100.623"
4,1,28,13.952894,100.621930,13.952,100.621,13.953,100.622,"13.952, 100.621","13.953, 100.622"
...,...,...,...,...,...,...,...,...,...,...
1094,1,990,20.402477,99.884987,20.402,99.884,20.402,99.885,"20.402, 99.884","20.402, 99.885"
1095,1,991,20.411322,99.885934,20.411,99.885,20.411,99.886,"20.411, 99.885","20.411, 99.886"
1096,1,992,20.419902,99.883795,20.419,99.883,20.420,99.884,"20.419, 99.883","20.42, 99.884"
1097,1,993,20.428256,99.884444,20.428,99.884,20.428,99.884,"20.428, 99.884","20.428, 99.884"
1098,1,994,20.436869,99.883649,20.436,99.883,20.437,99.884,"20.436, 99.883","20.437, 99.884"

In [7]:
df_route_2 = df_route_2.sort_values("km")
df_route_2 = df_route_2.reset_index(drop=True)
df_route_2

,rd,km,lat,lon,latd,lond,latu,lonu,coord,cooru
0,2,0,14.520047,100.914597,14.520,100.914,14.520,100.915,"14.52, 100.914","14.52, 100.915"
1,2,0,14.520047,100.914597,14.520,100.914,14.520,100.915,"14.52, 100.914","14.52, 100.915"
2,2,1,14.520639,100.923994,14.520,100.923,14.521,100.924,"14.52, 100.923","14.521, 100.924"
3,2,2,14.523763,100.932478,14.523,100.932,14.524,100.932,"14.523, 100.932","14.524, 100.932"
4,2,3,14.530221,100.939307,14.530,100.939,14.530,100.939,"14.53, 100.939","14.53, 100.939"
...,...,...,...,...,...,...,...,...,...,...
602,2,505,17.837957,102.737950,17.837,102.737,17.838,102.738,"17.837, 102.737","17.838, 102.738"
603,2,506,17.846316,102.734449,17.846,102.734,17.846,102.734,"17.846, 102.734","17.846, 102.734"
604,2,507,17.854559,102.730666,17.854,102.730,17.855,102.731,"17.854, 102.73","17.855, 102.731"
605,2,508,17.862408,102.726183,17.862,102.726,17.862,102.726,"17.862, 102.726","17.862, 102.726"
606,2,509,17.868164,102.719234,17.868,102.719,17.868,102.719,"17.868, 102.719","17.868, 102.719"

In [8]:
df_route_7 = df_route_7.sort_values("km")
df_route_7 = df_route_7.reset_index(drop=True)
df_route_7

,rd,km,lat,lon,latd,lond,latu,lonu,coord,cooru
0,7,0,13.599286,100.953945,13.599,100.953,13.599,100.954,"13.599, 100.953","13.599, 100.954"
1,7,0,13.741457,100.641698,13.741,100.641,13.741,100.642,"13.741, 100.641","13.741, 100.642"
2,7,0,13.730594,100.760581,13.730,100.760,13.731,100.761,"13.73, 100.76","13.731, 100.761"
3,7,0,13.730594,100.760581,13.730,100.760,13.731,100.761,"13.73, 100.76","13.731, 100.761"
4,7,0,13.298182,100.994620,13.298,100.994,13.298,100.995,"13.298, 100.994","13.298, 100.995"
...,...,...,...,...,...,...,...,...,...,...
390,7,99996,13.752260,100.591030,13.752,100.591,13.752,100.591,"13.752, 100.591","13.752, 100.591"
391,7,99997,13.755100,100.582320,13.755,100.582,13.755,100.582,"13.755, 100.582","13.755, 100.582"
392,7,99998,13.755510,100.573050,13.755,100.573,13.756,100.573,"13.755, 100.573","13.756, 100.573"
393,7,99999,13.756100,100.563820,13.756,100.563,13.756,100.564,"13.756, 100.563","13.756, 100.564"
394,7,1000000,13.759720,100.556230,13.759,100.556,13.760,100.556,"13.759, 100.556","13.76, 100.556"

In [9]:
list_route_1_d = df_route_1["coord"].to_list()
list_route_2_d = df_route_2["coord"].to_list()
list_route_7_d = df_route_7["coord"].to_list()
list_route_1_u = df_route_1["cooru"].to_list()
list_route_2_u = df_route_2["cooru"].to_list()
list_route_7_u = df_route_7["cooru"].to_list()

In [ ]:
df_acc_2020["road_number"] = df_acc_2020["coor"].apply(lambda x: 1 if x in list_route_1_d else(
    2 if x in list_route_2_d else (7 if x in list_route_7_d else 0)))
df_acc_2020 = df_acc_2020[df_acc_2020["road_number"] != 0]
df_acc_2020

In [10]:
df_acc_2020["road_number"] = df_acc_2020["coor"].apply(lambda x: 1 if x in list_route_1_d or x in list_route_1_u else(
    2 if x in list_route_2_d or x in list_route_2_u else (7 if x in list_route_7_d or x in list_route_7_u else 0)))
df_acc_2020 = df_acc_2020[df_acc_2020["road_number"] != 0]
df_acc_2020

,﻿eid,title,description,latitude,longitude,start,stop,latx,lonx,coor,road_number
47,645571,จราจรติดขัด ทางหลวงหมายเลข 2 กม. 100+962 - 10...,[กรมทางหลวง] มีจราจรติดขัดที่ บริเวณทางหลวงหม...,14.862150,101.696980,2020-01-01 00:00:00,2020-01-01 20:48:04,14.862,101.697,"14.862, 101.697",2
143,645667,อุบัติเหตุ ลำปาง,เกิดอุบัติเหตุ ข้อมูลจาก บริษัท กลางคุ้มครองผู...,18.379115,99.603848,2020-01-01 16:49:00,2020-01-01 17:49:00,18.379,99.604,"18.379, 99.604",1
745,646271,อุบัติเหตุ ถนนมิตรภาพ,อุบัติเหตุ ถนนมิตรภาพ ขาเข้า กรุงเทพฯ ช่วงกม.8...,14.843301,101.557432,2020-01-03 13:03:55,2020-01-03 14:03:55,14.843,101.557,"14.843, 101.557",2
746,646273,อุบัติเหตุ มอเตอร์เวย์ (ทล.7) ขาออก กม.8+500,13.53 น. ก่อนหน้านี้ มอเตอร์เวย์ (ทล.7) ขาออก ...,13.730444,100.723756,2020-01-03 14:02:18,2020-01-03 15:02:18,13.730,100.724,"13.73, 100.724",7
1171,646710,อุบัติเหตุ เมืองสระบุรี สระบุรี,เกิดอุบัติเหตุ ข้อมูลจาก บริษัท กลางคุ้มครองผู...,14.530608,100.912187,2020-01-04 17:00:00,2020-01-04 18:00:00,14.531,100.912,"14.531, 100.912",1
...,...,...,...,...,...,...,...,...,...,...,...
49158,698006,คืบหน้าอุบัติเหตุ ถนนมิตรภาพ ขาเข้า กม.87,ตร.ทล.นครราชสีมา ดำเนินการเคลื่อนย้ายรถบรรทุกไ...,14.850747,101.573709,2020-12-26 12:28:12,2020-12-26 13:28:12,14.851,101.574,"14.851, 101.574",2
49271,698151,อุบัติเหตุ ถนนพหลโยธิน,12:22 อุบัติเหตุ ถนนพหลโยธิน ช่วง ต่างระดับรัง...,13.962263,100.620270,2020-12-27 12:22:55,2020-12-27 13:28:55,13.962,100.620,"13.962, 100.62",1
49396,698297,อุบัติเหตุ ถนนพหลโยธิน ขาเข้า,10.42น. อุบัติเหตุ รถเมล์ สาย 504 ชนกับรถนั่งส...,13.962152,100.620402,2020-12-28 10:52:25,2020-12-28 11:52:25,13.962,100.620,"13.962, 100.62",1
49514,698467,อุบัติเหตุ ปากซอยพหลโยธิน 56,ปากซอยพหลโยธิน 56 มีอุบัติเหตุรถชนกัน กีดขวางก...,13.934562,100.625311,2020-12-29 17:28:19,2020-12-29 18:28:19,13.935,100.625,"13.935, 100.625",1
49667,698655,รถเสีย ถนนพหลโยธิน,ต.หนองไข่น้ำ อ.หนองแค จ.สระบุรี 18140,14.374261,100.882204,2020-12-30 23:05:00,2020-12-31 00:05:00,14.374,100.882,"14.374, 100.882",1

In [ ]:
df_acc_2020["road_number"] = df_acc_2020["coor"].apply(lambda x: 1 if x in list_route_1_u else(
    2 if x in list_route_2_u else (7 if x in list_route_7_u else 0)))
df_acc_2020 = df_acc_2020[df_acc_2020["road_number"] != 0]
df_acc_2020

In [11]:
def mergeKm(data):
    dataframe = df_route[df_route["rd"] == data["road_number"]]
    return dataframe[(dataframe["latx"]==data["latx"]) & (dataframe["lonx"]==data["lonx"])]["km"].values[0]

In [12]:
df_acc_2020["km"] = df_acc_2020[df_acc_2020["road_number"].isin([1,2,7])].apply(mergeKm, axis=1)
df_acc_2020

KeyError: 'latx'

In [ ]:
df_acc_2020[df_acc_2020["km"].isna()]

In [13]:
# # # df_acc_1[df_acc_1["road_number"]==7].to_csv("../dataset/accdata/accident1_with_road_7.csv")
# df_acc_2020[df_acc_2020["road_number"]==1].to_csv("../dataset/accdata/accident2020_with_road_1.csv",index=False)
# df_acc_2020[df_acc_2020["road_number"]==2].to_csv("../dataset/accdata/accident2020_with_road_2.csv",index=False)
# df_acc_2020[df_acc_2020["road_number"]==7].to_csv("../dataset/accdata/accident2020_with_road_7.csv",index=False)
# df_acc_2020.to_csv("./accident2020_with_road_V2.csv", index=False)

In [ ]:
fig = px.scatter_mapbox(df_route_1, lat="lat", lon="lon")
fig.update_layout(mapbox_style="open-street-map") 
fig.show()

In [ ]:
fig_2 = px.scatter_mapbox(df_acc_2020[df_acc_2020["road_number"]==1], lat="latitude", lon="longitude")
fig_2.update_layout(mapbox_style="open-street-map") 
fig_2.show()