<a href="https://colab.research.google.com/github/Traffic-anomaly-detection/traffic-anomaly-detection/blob/master/Traffic_anomaly_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Cell_Data CSV file format:

แบ่งถนนทุกๆเส้นทางออกเป็น cell แต่ละ cell มีขนาด 1 กม
datetime,road_number,km,direction,all_units,inflow_units,outflow_unit,samecell_units,avg_speed,max_speed,avg_traveltime,max_traveltime

* datetime = เวลาที่คำนวณ
* road_number = หมายเลขทางหลวง
* km = กิโลเมตรที่
* direction = ทิศทาง 
* in = รถวิ่งจาก กม. มาก ไปยัง กม. น้อย , out = รถวิ่งจาก กม. น้อย ไปยัง กม. มาก
* all_units = จำนวนรถรวมใน cell นั้นที่เวลา datetime
* inflow_units = จำนวนรถที่วิ่งเข้า cell นั้นในเวลา datetime
* outflow_unit = จำนวนรถที่วิ่งออก cell นั้นในเวลา datetime
* samecell_units = จำนวนรถที่ยังอยู่ใน cell นั้นในเวลา datetime
* avg_speed = ความเร็วเฉลี่ยของรถใน cell (all_units)
* max_speed = ความเร็วสูงสุดของรถใน cell (all_units)
* avg_traveltime = ค่า travel time ที่ใช้ในการเดินทางข้าม Cell 
* max_traveltime = ค่า travel time มากสุดที่ใช้ในการเดินทางข้าม Cell

# Setup Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Read Dataset

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
header_list =  ['datetime','road_number','km','direction','all_units','inflow_units','outflow_unit','samecell_units','avg_speed','max_speed','avg_traveltime','max_traveltime']

In [ ]:

df_test = pd.read_csv("/content/sample_data/california_housing_test.csv")
df = pd.read_csv("/content/drive/MyDrive/ Pre-Project/2020/2020-01/data_2020-01-01_00.csv", names=header_list)

# Read many Dataset

In [ ]:
import glob
# get data file names

month = '03' ## select month
date = '01' ##select date

path =r'/content/drive/MyDrive/ Pre-Project/2020/2020'+'-'+month
filenames = glob.glob(path + '/data_2020' + '-'+ month + '-' +'?????.csv')

day1 = 1
day2 = 1

day1 = 24*day1 - 24
day2 = 24*day2

dfs=[]

'''for filename in range(10): 
    dfs.append(pd.read_csv(filenames[filename],names=header_list))'''

for filename in range(day1,day2) :
  print('loading ',filenames[filename])
  dfs.append(pd.read_csv(filenames[filename],names=header_list))

# Concatenate all data into one DataFrame
big_frame = pd.concat(dfs, ignore_index=True)

print('-----------completed---------------')

loading  /content/drive/MyDrive/ Pre-Project/2020/2020-03/data_2020-03-01_00.csv
loading  /content/drive/MyDrive/ Pre-Project/2020/2020-03/data_2020-03-01_01.csv
loading  /content/drive/MyDrive/ Pre-Project/2020/2020-03/data_2020-03-01_02.csv
loading  /content/drive/MyDrive/ Pre-Project/2020/2020-03/data_2020-03-01_03.csv
loading  /content/drive/MyDrive/ Pre-Project/2020/2020-03/data_2020-03-01_04.csv
loading  /content/drive/MyDrive/ Pre-Project/2020/2020-03/data_2020-03-01_05.csv
loading  /content/drive/MyDrive/ Pre-Project/2020/2020-03/data_2020-03-01_06.csv
loading  /content/drive/MyDrive/ Pre-Project/2020/2020-03/data_2020-03-01_07.csv
loading  /content/drive/MyDrive/ Pre-Project/2020/2020-03/data_2020-03-01_08.csv
loading  /content/drive/MyDrive/ Pre-Project/2020/2020-03/data_2020-03-01_09.csv
loading  /content/drive/MyDrive/ Pre-Project/2020/2020-03/data_2020-03-01_10.csv
loading  /content/drive/MyDrive/ Pre-Project/2020/2020-03/data_2020-03-01_11.csv
loading  /content/drive/MyDrive/ Pre-Project/2020/2020-03/data_2020-03-01_12.csv
loading  /content/drive/MyDrive/ Pre-Project/2020/2020-03/data_2020-03-01_13.csv
loading  /content/drive/MyDrive/ Pre-Project/2020/2020-03/data_2020-03-01_14.csv
loading  /content/drive/MyDrive/ Pre-Project/2020/2020-03/data_2020-03-01_15.csv
loading  /content/drive/MyDrive/ Pre-Project/2020/2020-03/data_2020-03-01_16.csv
loading  /content/drive/MyDrive/ Pre-Project/2020/2020-03/data_2020-03-01_17.csv
loading  /content/drive/MyDrive/ Pre-Project/2020/2020-03/data_2020-03-01_18.csv
loading  /content/drive/MyDrive/ Pre-Project/2020/2020-03/data_2020-03-01_19.csv
loading  /content/drive/MyDrive/ Pre-Project/2020/2020-03/data_2020-03-01_20.csv
loading  /content/drive/MyDrive/ Pre-Project/2020/2020-03/data_2020-03-01_21.csv
loading  /content/drive/MyDrive/ Pre-Project/2020/2020-03/data_2020-03-01_22.csv
loading  /content/drive/MyDrive/ Pre-Project/2020/2020-03/data_2020-03-01_23.csv
-----------completed---------------

Save Dataset as CSV

In [ ]:
#df_for_saving = big_frame.copy()
#df_for_saving.to_csv(path + '/2020_' + month + '_' + date + '.csv', index=False)

In [ ]:
big_frame

                     datetime  road_number  ...  avg_traveltime max_traveltime
0         2020-03-01 00:00:21            1  ...               0              0
1         2020-03-01 00:00:21            1  ...               0              0
2         2020-03-01 00:00:21            1  ...               0              0
3         2020-03-01 00:00:21            1  ...              66             90
4         2020-03-01 00:00:21            1  ...              66             90
...                       ...          ...  ...             ...            ...
13474278  2020-03-01 23:59:17         3310  ...               0              0
13474279  2020-03-01 23:59:17         3310  ...               0              0
13474280  2020-03-01 23:59:17         3310  ...               0              0
13474281  2020-03-01 23:59:17         3310  ...              60             60
13474282  2020-03-01 23:59:17         3310  ...              60             60

[13474283 rows x 12 columns]

In [ ]:
df = big_frame[(big_frame['road_number'] == 1) & (big_frame['direction'] == 'out')]

In [ ]:
df[df["road_number"]]

                     datetime  road_number  ...  avg_traveltime max_traveltime
0         2020-03-31 00:00:18            1  ...               0              0
2         2020-03-31 00:00:18            1  ...               0              0
4         2020-03-31 00:00:18            1  ...              60             60
6         2020-03-31 00:00:18            1  ...              61             61
8         2020-03-31 00:00:18            1  ...              58             60
...                       ...          ...  ...             ...            ...
13786443  2020-03-31 23:59:46            1  ...              60             60
13786444  2020-03-31 23:59:46            1  ...               0              0
13786445  2020-03-31 23:59:46            1  ...              60             60
13786449  2020-03-31 23:59:46            1  ...               0              0
13786451  2020-03-31 23:59:46            1  ...              60             60

[765761 rows x 12 columns]

In [ ]:
#df.to_csv('/content/drive/MyDrive/ Pre-Project/Root_cleaned/in/03_3131_in.csv',index = False)

In [ ]:
#df.to_csv('/content/drive/MyDrive/ Pre-Project/Root_cleaned/out/03_3131_out.csv',index = False)

# Select Data

In [ ]:
df_day = df.copy()

In [ ]:
df_day

                   datetime  road_number  ...  avg_traveltime max_traveltime
0       2020-01-01 00:00:44            1  ...               0              0
1       2020-01-01 00:00:44            1  ...               0              0
2       2020-01-01 00:00:44            1  ...               0              0
3       2020-01-01 00:00:44            1  ...              44             60
4       2020-01-01 00:00:44            1  ...              44             60
...                     ...          ...  ...             ...            ...
241204  2020-01-01 00:59:07         3310  ...              40             40
241205  2020-01-01 00:59:07         3310  ...               0              0
241206  2020-01-01 00:59:07         3310  ...               0              0
241207  2020-01-01 00:59:07         3310  ...              60             60
241208  2020-01-01 00:59:07         3310  ...              60             60

[241209 rows x 12 columns]

In [ ]:
df_day['datetime'] = pd.to_datetime(df_day['datetime'], errors='coerce')

In [ ]:
df_day["day_of_week"] = df_day["datetime"].dt.day_name()

In [ ]:
df_day[(df_day["road_number"]==1) & (df_day["direction"]=="in")]

                  datetime  road_number  ...  max_traveltime day_of_week
0      2020-01-01 00:00:44            1  ...               0   Wednesday
1      2020-01-01 00:00:44            1  ...               0   Wednesday
3      2020-01-01 00:00:44            1  ...              60   Wednesday
5      2020-01-01 00:00:44            1  ...              75   Wednesday
7      2020-01-01 00:00:44            1  ...               0   Wednesday
...                    ...          ...  ...             ...         ...
237552 2020-01-01 00:59:07            1  ...              61   Wednesday
237553 2020-01-01 00:59:07            1  ...               0   Wednesday
237555 2020-01-01 00:59:07            1  ...              59   Wednesday
237557 2020-01-01 00:59:07            1  ...               0   Wednesday
237563 2020-01-01 00:59:07            1  ...               0   Wednesday

[15342 rows x 13 columns]

In [ ]:
df_day[df_day["direction"]=="in"]

NameError: ignored

# big_frame

In [ ]:
big_frame.road_number.unique()

In [ ]:
big_frame["datetime"] = pd.to_datetime(big_frame["datetime"], errors='coerce')

In [ ]:
big_frame["day_of_week"] = big_frame["datetime"].dt.day_name()

In [ ]:
big_frame

In [ ]:
from google.colab import files

with open('example.txt', 'w') as f:
  f.write('some content')

files.download('example.txt')

In [ ]:
from google.colab import files

with open('example.txt', 'w') as f:
  f.write('some content')

files.download('example.txt')

In [ ]:
from google.colab import files

with open('example.txt', 'w') as f:
  f.write('some content')

files.download('example.txt')

In [ ]:
from google.colab import files

with open('example.txt', 'w') as f:
  f.write('some content')

files.download('example.txt')

In [ ]:
from google.colab import files

with open('example.txt', 'w') as f:
  f.write('some content')

files.download('example.txt')

In [ ]:
big_frame.groupby('road_number').apply(display)

In [ ]:
big_frame['road_number']