In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.model_selection import GridSearchCV

In [4]:
df = pd.read_csv(
    "../dataset/2020-02-road-2-in.csv", parse_dates=["datetime"])
df

,datetime,road_number,km,direction,all_units,inflow_units,outflow_unit,samecell_units,avg_speed,max_speed,avg_traveltime,max_traveltime
0,2020-02-01 00:00:34,2,1,in,1,1,2,0,54,54,61,61
1,2020-02-01 00:00:34,2,2,in,0,0,1,0,0,0,0,0
2,2020-02-01 00:00:34,2,3,in,4,2,0,2,64,87,60,60
3,2020-02-01 00:00:34,2,4,in,2,2,2,0,80,97,30,30
4,2020-02-01 00:00:34,2,5,in,2,2,0,0,50,52,75,90
...,...,...,...,...,...,...,...,...,...,...,...,...
16496944,2020-02-29 23:59:14,2,468,in,1,1,0,0,44,44,120,120
16496945,2020-02-29 23:59:14,2,488,in,0,0,1,0,0,0,0,0
16496946,2020-02-29 23:59:14,2,489,in,1,1,1,0,56,56,59,59
16496947,2020-02-29 23:59:14,2,490,in,2,2,1,0,64,78,54,60
16496948,2020-02-29 23:59:14,2,497,in,1,0,0,1,49,49,0,0

In [5]:
import joblib
dtree_model = joblib.load('../Models/DecisionTreeModel.joblib')

In [6]:
dtree_model

DecisionTreeClassifier()